a{
    font-size: 12px!important;
}
.iconfont,.layui-icon{
    margin-right: 8px;
}
.layui-logo{
    background: url(../images/logo.png) no-repeat center;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}
.text-avatar{
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.userInfo{
    height: 60px;
    padding-left: 10px;
    line-height: 60px;
    user-select: none;
}
.userInfo a{
    color: #fff!important;
}
#nickname{
    color: #009688;
}
.layui-body{
    overflow: hidden;
    padding: 15px;
    padding-bottom: 0;
    background-color: #f2f3f5;
}
iframe{ 
   width: 100%;
   height: 100%;
}
.layui-footer{
    font-size: 12px;
    text-align: center;
    user-select: none;
}